@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-nav-btn-hover: #e4d7ff;
    --color-nav-background: white;
    --color-nav-btn: #652bdf;
    --color-header-border: #e7eaed;
    --color-main-font: #2b2b2b;
    --color-nav-right-menu-btn-hover: #360c72;
    --color-header-div-border: #bebebe;
    --color-banner-btn-hover: #360c72;
    --color-cards-icon-background: #f0eafc;
    --color-cards-p-font: #6a6a6a;
    --color-main-more-info-btn: #8253e6;
    --color-main-background: #FCFBFF;
    --color-main-more-info-background: #E2D2FF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-main-background);
}

.header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--color-header-border);
    width: 100%;
/*     height: 82.9px; */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-nav-background);
}

.header__nav-desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    min-height: 82px;
    max-width: 1022px;
    margin: 0 auto;
}

.header__logo{
    max-width: 140px;
    max-height: 37px;
    margin: 0 20px 0 0;
}

.header__menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    
}

.header__nav-border{
    max-width: 32px;
    margin-right: auto;
    height: 24px;
    border-left: 1px solid var(--color-header-div-border);
}

.header__btn-default{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0px 4px;
    padding: 6px 24px;
    font-weight: 700;
    border-radius: 50px;
    height: 100%;
    white-space: nowrap;
    min-height: 41px;
}

.header__btn-default:hover{
    background-color: var(--color-nav-btn-hover);
    cursor: pointer;
}

.header__right-menu{
    display: flex;
    /* height: 41px; */
    height: 100%;
    max-width: 338px;
    margin-left: auto;
    gap: 2px;
}

.header__right-menu-btn-style-A{
    background-color: var(--color-nav-background);
    color: var(--color-nav-btn);
}

.header__right-menu-btn-style-A:hover{
    background-color: var(--color-nav-btn-hover);
    color: var(--color-nav-right-menu-btn-hover);
}

.header__right-menu-btn-style-B{
    background-color: var(--color-nav-btn);
    color: var(--color-nav-background);
}

.header__right-menu-btn-style-B a{
    color: inherit;
}

.header__right-menu-btn-style-B:hover{
    background-color: var(--color-nav-btn-hover);
    color: var(--color-nav-right-menu-btn-hover);
}

.header__right-menu-btn-default{
    min-width: 160px;
    transition: 0.4s ease-in-out;
    border: 1px solid var(--color-nav-btn);
    letter-spacing: .02857em;
    height: 100%;
}



.main__central-div{
    max-width: 1022px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.main__default{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main__division32{
    width: 100%;
    height: 32px;
}

.main__division48{
    width: 100%;
    height: 48px;
}

.main__division64{
    width: 100%;
    height: 64px;
}

.main__banner{
/*     height: 468px; */
}

.main__banner-img{
    display: flex;
    justify-content: center;
    border-radius: 32px;
    overflow: hidden;
    z-index: 1;
    max-width: 1100px;
    width: 100vw;
    height: 400px;
    position: relative;
}

.main__banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.main__banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    order: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    max-width: 590px;
    padding: 0 0 0 70px;
    background-color: transparent;
    z-index: 2;
    gap: 20px 0;
}

.main__banner-btn{
    padding: 11px 33px;
    font-size: 16px;
    min-width: 192px;
    min-height: 46px;
    transition: 0.4s ease-in-out;
    margin: 0;
    width: fit-content;
    letter-spacing: .02857em;
    height: 100%;
    max-height: 46px;
}

.main__banner-btn:hover{
    color: white;
    background-color: var(--color-banner-btn-hover);
    transition: 0.4s ease-in-out;
}

.h1{
    position: relative;
    color: white;
    background-color: transparent;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1.50px;
/*     width: 512px;
    height: 112px; */
    line-height: 56px;
}

.h3{
    position: relative;
    color: var(--color-banner-btn-hover);
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing:-0.024em;
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img__carrousel{
    display: flex;
    justify-content: center;
    max-width: 190px;
    margin: 22px 0;
    width: 100vw;
    z-index: 4;
    background-color: transparent;
}

.img__carrousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.h2{
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0;
    letter-spacing: -0.015em;
    text-align: center;
    line-height: 2.625rem;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-main-background);
}

.main__cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
/*     margin: 32px 0; */
    gap: 16px;
}

.main__cards-default{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 24px;
    /* max-width: max-content; */
    min-width: 290px;
    min-height: 184px;
    width: 31%;
    height: 100%;
    gap: 16px;
    transition: transform 0.3s ease-in-out;
    margin-top: 12px;
    background-color: var(--color-nav-background);
    border-radius: 16px;
}

.main__cards-default:hover{
    transform: translateY(-6px);
}

.main__icon-content{
    width: 62px;
    height: 62px;
    background-color: var(--color-cards-icon-background);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
}

.main__icon-content svg{
    background-color: transparent;
}

.main__cards-default h3{
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    min-height: 28px;
    letter-spacing: -0.025em;
    color: var(--color-main-font);
    margin: 0;
    text-align: left;
    line-height: 1.625rem;
}

.main__cards-default p{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-cards-p-font);
    line-height: 1.5;
    margin: 0;
    overflow-wrap: break-word;
    width: 100%;
    letter-spacing: .0070em;
    min-height: 108px;
}

.main__more-info-banner{
    background-color: var(--color-main-more-info-background);
    border-radius: 32px;
    margin: 32px auto 0 auto;
    max-width: 1022px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__more-info-banner-container{
    width: calc(100% - 48px);
    max-width: 1022px;
    margin: 0 auto;
    padding: 32px 40px;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
}

.main__more-info-banner-container-text{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-nav-right-menu-btn-hover);
    gap: 18px;
}

.main__more-info-banner-container-btn{
    background-color: transparent;
    display: flex;
    align-items: center;
    min-width: max-content;
    height: 100%;
}

.main__more-info-banner-container-btn a{
    display: inline-flex;
    border: 1px solid transparent;
    cursor:pointer;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px 32px;
    min-height: 43px;
    font-size: 17px;
    line-height: 1.5rem;
    min-width: 192px;
    color: var(--color-nav-btn);
    background-color: var(--color-nav-background);
}

.main__more-info-banner-container-btn a:hover{
    background-color: black;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: var(--color-nav-btn-hover);
}

.main__more-info-banner-container-text h2{
    font-size: 30px;
    font-weight: 650;
    height: 30px;
    color: var(--color-main-font);
    margin: 0;
    text-align: left;
    line-height: 2rem;
    background-color: transparent;
    color: inherit;
    letter-spacing: -0.025em;
}

.main__more-info-banner-container-text span{
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    height: 22.05px;
    text-align: left;
    line-height: 1.375em;
    color: inherit;
    letter-spacing: 0.005em;
}




.main__details-container{
    display: flex;
    flex-direction: row;
    max-width: 1022px;
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--color-nav-background)
    margin: 0 auto;
    border-radius: 32px;
}

.main__details-container-content{
    display: flex;
    min-width: 50%;
    padding: 50px 22px;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
    gap: 32px;
}

.main__details-container-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 21px;
    background-color: transparent;
    height: 100%;
}

.main__details-container-content-text h3{
    font-weight: 600;
    line-height: 2rem;
    font-size: 24px;
    color: var(--color-main-font);
    letter-spacing: -0.020em;
    margin-top: 30px;
}

.main__details-container-content-text p{
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    overflow-wrap: break-word;
    color: var(--color-main-font);
    gap: 12px;
    background-color: inherit;
}

.main__details-container-text-knowmore{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    
}

.main__details-container-text-knowmore a{
    padding: 14px 0;
    font-size: 16px;
    color: var(--color-banner-btn-hover);
    font-weight: 700;
    line-height: 1.5rem;
    min-height: 41px;
    min-width: max-content;
    height: auto;
    width: auto;
    transition: all 0.4s ease-in-out;
}

.main__details-container-text-knowmore a:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--color-nav-btn);
    transition: all 0.4s ease-in-out;
}

.main__details-container-content-text h3{
    height: auto;
}

.main__details-container-img{
    display: flex;
    min-width: 50%;
    padding: 18px 21px;
    width: 100%;
    position: relative;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-nav-background);
    overflow: hidden;
    border-radius: 32px;
}

.main__details-container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    aspect-ratio: auto 912 / 274;
    transform: scale(1.00);
    transition: transform .4s ease;
    border-radius: 24px;
    overflow: hidden;
}

.main__details-container-img img:hover{
    transform: scale(1.05);
    transition: transform .4s ease;
}

.main__details-container-text-knowmore{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1022px;
    width: 100vw;
}

.footer__icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
    color: var(--color-main-font);
    width: 100%;
    padding-bottom: 32px;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: 1px solid var(--color-header-div-border);
}

.footer__nav-list{
    width: 25%;
}

.footer__nav li{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5rem;
   /*  overflow-wrap: break-word; */
    color: inherit;
    margin: 8px 0;
}

.footer__nav span{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    color: inherit;
}

.footer__nav a{
    color: inherit;
}

.footer__nav a:hover{
    text-decoration: underline;
    color: var(--color-nav-btn);
}