*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: yellow;
    position: sticky;
    top: 0;
}

.wsp{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: greenyellow;
}