@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color-header-fondo: #000000;
    --color-header_hover: #ff4c5f;
    --color-header-nohover: white;
    --color-header-logo: #f51928;
    --color-header-asus: #797979;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-header-fondo);
}

.header-logo{
    fill: var(--color-header-logo);
    width: 160px;
}

.header-search-asuslogo{
    border-right: 1px solid #424242;
    margin-right: 17px;
    padding-right: 20px;
}

.content{
    display: flex;
    background-color: var(--color-header-fondo);
    width: 1520px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ol{
    display: flex;
    flex-direction: row;
}

.nav-items{
    color: var(--color-header-nohover);
    margin: 0 32px;
}

.nav-items:hover{
    color: var(--color-header_hover);
    cursor: pointer;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
