/* Cargamos un CSS externo */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Normalizacion simple */
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Propiedades de texto */

.parrafo{
    font-size: 24px;
    text-align: center;
    word-spacing: 16px;
    letter-spacing: 2px;
    text-decoration: underline wavy;
}

.negrita{
    font-weight: 700;
    text-decoration: underline;
}

/* Clase utilitaria (para sumar alguna caracteristica a algo que ya esta aplicando estilos, como por ej, la clase "negrita" */
.negrita-ff{
    font-family: "DM Sans", sans-serif;
    color: red;
    font-style: italic;
}

/* Box Modeling */
.caja{
    width: 200px;
    height: 200px;
    background-color: black;
    box-sizing: border-box; /* define que caja es la primaria para todas las propiedades. Si elejimos border-box,el padding se calcula hacia adentro, en vez de hacia afuera */
    border-radius: 10px;
    padding: 10px 20px;
    /* 
    padding: 10px; a todos los lados
    padding: 10px 20px: vertical, horizontal
    padding: 10px 20px 30px: top, horizontal, bottom
    padding: 10px 20px 30px 30px: top, right, bottom, left*/
    color: white;
    border: 10px solid red;
}